html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #fff;
  text-transform: uppercase;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.headline-left {
  font-size: 22px;
  line-height: 32px;

  letter-spacing: 7.33px;

  opacity: 0.5;
  padding-left: 103px;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    width: 80px;
    padding: 1px;
    background-color: #ffffff;
    left: 0;
    top: 50%;
  }
}

.headline-right {
  font-size: 22px;
  line-height: 32px;

  letter-spacing: 7.33px;

  opacity: 0.5;
  padding-right: 103px;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    position: absolute;
    width: 80px;
    padding: 1px;
    background-color: #ffffff;
    right: 0;
    top: 50%;
  }
}

.title {
  span {
    font-size: 200px;
    color: rgba(#fff, 0.02);
    font-weight: 800;
    position: relative;
    transform: translateX(-50px);
    display: inline-block;
  }

  h3 {
    position: absolute;
    margin: 0;
    color: #ffffff;
    font-size: 80px;
    top: 0;
    right: -5px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -5px;
      width: 80px;
      height: 1px;
      background-color: $green;
    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;

  &__head {
    font-weight: 800;
    font-size: 40px;
    padding-right: 10px;

    span {
      font-weight: 100;
    }
  }
}

.descr {
  display: inline-block;
  padding-left: 5px;
  &__head {
    font-weight: 800;
    font-size: 40px;

    span {
      font-weight: 100;
    }
  }
}

.btn {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;

  span {
    padding: 17px 57px 15px 17px;
    background-color: $green;
    display: inline-block;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 1px;
      background-color: #fff;
      top: 50%;
      left: -10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 21px;
      background-image: url(../images/arrows-right.svg);
      top: 50%;
      right: 17px;
      transform: translateY(-50%);
    }
  }
}
.surf,
.travel {
  padding: 160px 0 120px;
}
.travel {
  padding-bottom: 265px;
}
