@import 'vars';
@import 'libs';
@import 'fonts';

.header {
}

.header__slider {
  &-item {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@import 'media';
